@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Noto+Sans+KR&display=swap");

html,
body {
  margin: 0;
  background-color: rgb(30, 30, 30);
  font-size: 22px;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.logo,
.logo > * {
  font-family: "Krona One", sans-serif;
  font-size: 80px;
}

.title {
  font-size: 40px;
}

a {
  text-decoration: none;
  color: rgb(0, 100, 255);
}

a:not(.button):hover {
  text-decoration: underline;
}

a.button {
  padding: 8px;
  background-color: rgb(80, 80, 80);
  border-radius: 8px;
  transition: background-color 0.2s, padding 0.2s;
  color: white;
}

a.button:hover {
  padding: 10px;
  background-color: rgb(0, 100, 255);
}

a.button:active {
  padding: 6px;
  background-color: rgb(0, 70, 200);
}
